/* IMPORTS */
@import url("animations.css");



/*STYLES */
/* DISPLAYS */
.multi-line {white-space: pre-line;}

.lg-flex {display:none;}
.reverse-lg-flex {display:flex;}
.lg-grid {display:none;}
.lg-show {display:none;}
.btn-reload {background-color: inherit;}

.btn-reload:active {
  background-color: inherit !important;
  color: #119dff !important;
  animation: spin 3s linear infinite;
}
@media (min-width:992px){
  .lg-show {display: block;}
}
@media (min-width: 992px) {
  .lg-flex {display: flex;}
}
@media (min-width:992px){
  .reverse-lg-flex {display:none;}
}

@media (min-width:992px){
  .lg-grid {display:grid;}
}

/* COLORS */
.bg-harmony {background-color: #07004d !important;}
.text-harmony {color: #07004d !important;}

.dialog-bg {
  background: linear-gradient(180deg, #0418fd 15%,#0418fd 15%, #119dff 20%, #030423);
  backdrop-filter: blur(1px);
  overflow-y: hidden;
}

.morph-bg {
  background-color: #07004d !important;
  -webkit-backdrop-filter: blur(1px) !important;
  backdrop-filter: blur(1px) !important;
}



.light-blur {
  background-color: rgba(255, 255, 255, 1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 20;
}


/* TYPOGRAPHY */
.small-caps {
  font-variant: small-caps;
}



.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s ease-out;
}
  

/* BACKGROUNDS */
.default-bg {
  height:100%;
  width:100%;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.login-bg {
  height: 100%;
  width: 100%;
  background-image:url('/images/bgs/hills.avif');
  background-position: center;
  background-size: cover;
  }

.dashboard-bg {
  height:100%;
  width:100%;
  background-color:#07004d;
}


.nexa-roll {
  animation: roll 3s linear infinite;
}
